* {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
  margin: 0;
  grid-template-areas:
    "side head"
    "side main";
}

header {
  background-color: red;
  grid-area: head;
}

.sidebar {
  background-color: #1992d4;
  grid-area: side;
}

main {
  background-color: blueviolet;
  grid-area: main;
}

a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 100px;
}

nav ul li {
  padding: 20px;
}

.fas {
  padding-left: 10px;
  padding-right: 40px;
}

nav ul li span {
  font-size: 20px;
  font-weight: bold;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
}

.fa-chart-line {
  padding-left: 10px;
}

.logo {
  margin-top: 20px;
  margin-left: 15px;
}

i {
  width: 24px;
}
